<mat-card class="example-card">
  <!-- <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header> -->
  <img mat-card-image src={{currentCard.imageUrl}} alt="Image">
  <mat-card-content>
    <p>{{ currentCard.description }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="warn" (click)="openDetailsOverlay()">SHOW MORE DETAILS</button>
  </mat-card-actions>

  <button class="prev" (click)="prevCard()"><i class="fa fa-angle-left" style="font-size: 20px;"></i></button>
  <button class="next" (click)="nextCard()"><i class="fa fa-angle-right" style="font-size: 20px;"></i></button>
</mat-card>

