<header>
  <div class="nav-header">
      <h1>Restoration of water bodies withing 5 km of Ashok Leyland's Pant Nagar plant by 2021</h1>
  </div>
  <!-- <div class="nav-links">
      <ul>
          <li><a [routerLink]="['summary']" [ngClass]="{'active-link': currentRoute === 'summary'}">summary</a></li>
          <li><a [routerLink]="['methodology']" [ngClass]="{'active-link': currentRoute === 'methodology'}">methodology</a></li>
          <li><a [routerLink]="['financials']" [ngClass]="{'active-link': currentRoute === 'financials'}">financials</a></li>
      </ul>
  </div> -->
</header>