<div class="container-fluid">
  <div class="wrapper">
    <div class="map-canvas">
      <agm-map 
        [latitude]="lat" 
        [longitude]="lng" 
        [zoomControlOptions]="{position: zoomPosition}" 
        [streetViewControlOptions]="{position: streetViewPosition}" 
        [zoom]="zoomLevel" 
        [mapTypeControl]='true'
        [mapTypeControlOptions] = "{position: mapTypeControlPosition}">
        <agm-marker 
          *ngFor="let marker of markersData" 
          [latitude]="marker.lat" 
          [longitude]="marker.lng"
          (markerClick)="markerClicked(marker.name)"></agm-marker>
      </agm-map>
    </div>
  
    <app-map-description [markerListener]="emitMarkerEvent" class="map-description"></app-map-description>
    <app-map-navigation (toggleScope)="toggleScope()" class="map-nav"></app-map-navigation>
  </div>
</div>