<div class="container-fluid">
  <div class="wrapper">
    <div class="map-canvas">
      <agm-map 
        [latitude]="lat" 
        [longitude]="lng" 
        [zoomControlOptions]="{position: zoomPosition}" 
        [streetViewControlOptions]="{position: streetViewPosition}" 
        [zoom]="zoomLevel" 
        [mapTypeControl]='true'
        [mapTypeControlOptions] = "{position: mapTypeControlPosition}">
        
        <!-- Issues Markers -->
        <agm-marker 
          *ngFor="let marker of markersData" 
          [latitude]="marker.lat" 
          [longitude]="marker.lng"
          [visible]="showIssues"
          (markerClick)="markerClicked(marker)">
        </agm-marker>

        <!-- Solutions Marker -->
        <agm-marker 
          *ngFor="let marker of solutionMarkers" 
          [latitude]="marker.lat" 
          [longitude]="marker.lng"
          [visible]="showSolutions"
          (markerClick)="markerClicked(marker.name)">
        </agm-marker>

        <!-- <agm-kml-layer *ngIf="showScope"  [url]="'https://drive.google.com/uc?authuser=0&id=1ddw5H-QHjZ6pGDKMVkHM-LHLGIwJ-SG4&export=download'"> </agm-kml-layer> -->
        
        <!-- Scope KML Layers -->
        <div *ngIf="showScope">
          <agm-kml-layer 
          *ngFor="let polygon of polygons" 
          [url]="polygon.url"
          [zIndex]="5"
          [screenOverlays]="true"></agm-kml-layer>
        </div>
      </agm-map>
    </div>
  
    <app-map-description [markerListener]="emitMarkerEvent" class="map-description"></app-map-description>
    <app-map-navigation (toggleScope)="toggleScope()" (toggleIssues)="toggleIssues()" (toggleSolutions)="toggleSolutions()" class="map-nav"></app-map-navigation>
  </div>
</div>