.nav-links  {
    background: #F5F5F5;
    color: var(--dark);
    height: 60px;
    line-height: 60px;
    padding-left: 250px;
    box-shadow: var(--shadow);
}

.nav-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav-links a {
    float: left;
    display: block;
    text-align: center;
    color: var(--dark);
    text-transform: uppercase;
    font-weight: var(--regularWt);
    margin-right: 80px;
}

.nav-links a:active {
    border-bottom: 6px solid var(--dark);
}
.nav-links a:hover {
    border-bottom: 6px solid var(--dark);
}

.active-link {
    border-bottom: 6px solid var(--dark);
}