<nav class="navbar navbar-dark" style="background-color: rgb(95, 65, 146);">
  <a class="navbar-brand" href="#">
   <h4>everyULB</h4>
  </a>
</nav>

<div class="container-fluid">
  <div class="wrapper">
    <div class="map-canvas">
      <agm-map [latitude]="lat" [longitude]="lng" [zoomControlOptions]="{position: zoomPosition}" [streetViewControlOptions]="{position: streetViewPosition}" [zoom]="zoomLevel">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        <agm-kml-layer [url]="'https://drive.google.com/uc?authuser=0&id=1nGNb8se4jUOwnvN5pTYTck_iYPfWy_Ic&export=download'"> </agm-kml-layer>
      </agm-map>
    </div>
  
    <app-map-description class="map-description"></app-map-description>
    <app-map-navigation class="map-nav"></app-map-navigation>
  </div>
</div>