<div class="btn-group">
    <button (click)="handleScopeButton()" matTooltip="Toggle Scope" [matTooltipPosition]="tooltipPosition"><img src="/assets/icons/scope.svg"></button>
    <hr>
    <button (click)="handleIssuesButton()" matTooltip="Toggle Issues" [matTooltipPosition]="tooltipPosition"><img src="/assets/icons/issues.svg"></button>
    <hr>
    <button (click)="handleSolutionsButton()" matTooltip="Toggle Proposals" [matTooltipPosition]="tooltipPosition"><img src="/assets/icons/solution.svg"></button>
</div>
