/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.wrapper {
    position: relative;
    margin-top: 10px;
}

.map-canvas {
   /* height: 500px;
    width: 500px; */
    height: 100%;
    width: 100%;
    background-color: #CCC;
}

.map-description {
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 99;
}

.map-nav {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 99;
}